<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.notitle"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".SignupPage"></activity>
        <activity android:name=".DriverHome"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".CustomerHome"></activity>
        <activity android:name="driver.AddVehicleActivity"></activity>
        <activity android:name="customer.AddRequestActivity" />
        <activity android:name=".RequestDetail"></activity>
        <activity android:name="customer.RideDetailsActivity"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="add your map key here" />



        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_sakIeD0WcM68Tm" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
    </application>

</manifest>